/* ==========================================================================
   ANIMATION
   ========================================================================== */
.animation {
  width: 100%;
  height: 100vh;
  min-width: $min-width;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  cursor: default;
  @include user-select;

  .glow {
    --delay: 0s;
    --size: 0.4;
    --speed: 15s;
    height: calc(150% * var(--size));
    border-radius: 50%;
    aspect-ratio: 3/4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: animation-glow var(--speed) infinite linear;
    animation-delay: var(--delay);
    background: linear-gradient(260deg, #151a80 6.5%, #795998 95%);
    filter: blur(7.5em);
    transform-origin: 50% 50%;
    opacity: .4;
    &:nth-of-type(2) {--delay: -12s;--size: 0.35;--speed: 20s;}
    &:nth-of-type(3) {--delay: -10s;--size: 0.3;--speed: 10s;}
    @include media-breakpoint-up(md) {
      height: calc(200% * var(--size));
      aspect-ratio: 6/5;
      opacity: .3;
    }
  }
}

@keyframes animation-glow {
  0% { transform: translate3d(0%, 51%, 0) rotate(0deg); }
  5% { transform: translate3d(8%, 31%, 0) rotate(18deg); }
  10% { transform: translate3d(22%, 13%, 0) rotate(36deg); }
  15% { transform: translate3d(40%, 2%, 0) rotate(54deg); }
  20% { transform: translate3d(46%, 21%, 0) rotate(72deg); }
  25% { transform: translate3d(50%, 47%, 0) rotate(90deg); }
  30% { transform: translate3d(53%, 80%, 0) rotate(108deg); }
  35% { transform: translate3d(59%, 98%, 0) rotate(125deg); }
  40% { transform: translate3d(84%, 89%, 0) rotate(144deg); }
  45% { transform: translate3d(92%, 68%, 0) rotate(162deg); }
  50% { transform: translate3d(99%, 47%, 0) rotate(180deg); }
  55% { transform: translate3d(97%, 21%, 0) rotate(198deg); }
  60% { transform: translate3d(80%, 7%, 0) rotate(216deg); }
  65% { transform: translate3d(68%, 25%, 0) rotate(234deg); }
  70% { transform: translate3d(59%, 41%, 0) rotate(251deg); }
  75% { transform: translate3d(50%, 63%, 0) rotate(270deg); }
  80% { transform: translate3d(38%, 78%, 0) rotate(288deg); }
  85% { transform: translate3d(21%, 92%, 0) rotate(306deg); }
  90% { transform: translate3d(3%, 79%, 0) rotate(324deg); }
  100% { transform: translate3d(0%, 51%, 0) rotate(360deg); }
}