/* ==========================================================================
   WELCOME
   ========================================================================== */
.welcome {
  margin: 0;
  font-size: 40px;
  line-height: 125%;
  font-weight: 300;
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0);
  mix-blend-mode: overlay;
  animation: 1.4s welcome-fly-in;
  animation-play-state: paused;
  -webkit-backface-visibility: hidden;
  @include media-breakpoint-down(xss) {
    font-size: 36px;
  }
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 64px;
  }

  strong {
    font-weight: normal;
  }

  span {
    min-width: 12px;
    position: relative;
    text-shadow: 0 0 6px white;
    animation: 1s welcome-blur forwards;
    animation-play-state: paused;
    filter: blur(.2em);
    top: .2em;
    opacity: 0;
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: $i * .06s;
      }
    }

    &.b {font-weight: normal;}
  }

  .app.inited & {
    display: block;
    &, span {
      animation-play-state: running;
    }
  }

  &.done {
    animation: 1s .075s welcome-fly-out forwards;
    animation-play-state: running;
  }

  &.hidden {
    animation-play-state: paused;
    display: none;
  }
}

@keyframes welcome-fly-in {
  0% {transform: translate3d(125%, -50%, 0) scale(300%); opacity: .5;}
  100% {transform: translate3d(-50%, -50%, 0) scale(100%); opacity: 1;}
}

@keyframes welcome-fly-out {
  0% {transform: translate3d(-50%, -50%, 0); opacity: 1;}
  60% {opacity: 0;}
  100% {transform: translate3d(-50%, -50vh, 0);opacity: 0;}
}

@keyframes welcome-blur {
  0% {filter: blur(.2em); top: .25em; opacity: 0; text-shadow: 0 0 6px white;}
  50% {filter: blur(0); top: 0;opacity: 1;}
  75% {filter: blur(.01em); opacity: .9;}
  100% {filter: blur(0); top: 0; opacity: 1; text-shadow: 0 0 1px white;}
}

