/* ===== CONTACT ===== */
.contact {
  position: relative;

  &__talk {
    min-height: 664px;
    background: url('#{$img}/ray.png') 50% 0 no-repeat;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media-breakpoint-up(lg) {
      min-height: 1081px;
    }
  }

  &__form {
    width: 100%;
    max-width: 543px;
    transform: translate(0, -18px);
    position: relative;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      transform: translate(0, -22px);
    }

    &::before {
      @include pseudo;
      background: linear-gradient(to right, rgba(white, .8) 0, rgba(white, .15) 100%);
      border-radius: 58px 58px 0 58px;
      opacity: .05;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include media-breakpoint-up(lg) {
        border-radius: 58px 68px 0 58px;
      }
    }
  }

  &__copy {
    padding: 10px 24px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      padding: 11px 37px;
      font-size: 20px;
      line-height: 25px;
      top: 20px;
      right: 20px;
    }

    &::before, &::after {
      @include pseudo;
      border-radius: 58px 58px 0 58px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      padding: 1px;
      opacity: .15;
      background: linear-gradient(135deg, rgba(white, .8), rgba(white, .15));
      mask: linear-gradient(black 0 0) exclude, linear-gradient(black 0 0) content-box;
      inset: 0;
      z-index: -1;
    }

    &::after {
      border: 1px solid transparent;
      background: linear-gradient(135deg, rgba(white, .8), rgba(black, .15));
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.81);
      opacity: .1;
      z-index: -2;
    }

  }

  &__email {
    padding: 22px 90px 22px 24px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: .02em;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      padding-right: 150px;
      padding-left: 44px;
      font-size: 34px;
      line-height: 42px;
    }

    &::before, &::after {
      @include pseudo;
      border-radius: 58px 58px 0 58px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include media-breakpoint-up(lg) {
        border-radius: 58px 68px 0 58px;
      }
    }

    &::before {
      padding: 1px;
      opacity: .35;
      background: linear-gradient(45deg, rgba(white, .5), rgba(white, .15), rgba(white, 1));
      mask: linear-gradient(black 0 0) exclude, linear-gradient(black 0 0) content-box;
      inset: 0;
      z-index: -1;
    }

    &::after {
      border: 1px solid transparent;
      background: rgba(black, .4);
      backdrop-filter: blur(15px);
      box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4);
      z-index: -2;
    }
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: .02em;
    position: absolute;
    transform: translate(0, 12px);
    top: 100%;
    right: 0;
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      line-height: 30px;
      transform: translate(49px, 21px);
    }
  }

  &__explore {
    max-width: 342px;
    padding: 48px 42px 32px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .02em;
    @include media-breakpoint-up(lg) {
      max-width: 774px;
      padding: 72px 60px 60px;
      font-size: 20px;
      line-height: 25px;
    }

    &::before {
      @include pseudo;
      background: linear-gradient(to bottom, rgba(0,0,0, .2) 0%,rgba(0,0,0, .5) 100%);
      border: 2px solid rgba(#fff, .1);
      border-radius: 44px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      @include media-breakpoint-up(lg) {
        border-radius: 68px;
      }
    }

    &::after {
      @include pseudo;
      padding: 2px;
      border-radius: 40px;
      background: linear-gradient(45deg, rgba(white, .8), rgba(white, .4), rgba(white, .8));
      mask: linear-gradient(black 0 0) exclude, linear-gradient(black 0 0) content-box;
      inset: 0;
      opacity: .3;
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      z-index: -1;
      @include media-breakpoint-up(lg) {
        border-radius: 64px;
      }
    }

    p {
      color: rgba(white, .5);
      @include media-breakpoint-up(lg) {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    hr {
      height: 1px;
      margin: 24px 0;
      border: none;
      background: linear-gradient(to right, rgba(#59efd4, 0) 0%,rgba(#59b0ef, 1) 48%,rgba(#59efd4, 0) 100%);
      opacity: .1;
      @include media-breakpoint-up(lg) {
        margin: 40px 0;
      }
    }
  }

  &__heading {
    padding-top: 40px;
    margin-bottom: 8px;
    position: relative;
    background: url('#{$img}/logo-small.svg') 50% 0 no-repeat;
    background-size: 48px auto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .02em;
    @include media-breakpoint-up(lg) {
      padding-top: 32px;
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__button {
    max-width: 250px;
    padding: 15px 10px;
    margin: 0 auto;
    border-radius: 44px;
    display: block;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: none;
    position: relative;
    z-index: 1;

    &::before, &::after {
      @include pseudo;
      border-radius: 44px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      padding: 1px;
      background: linear-gradient(to bottom, rgba(white, .25), rgba(white, .1));
      mask: linear-gradient(black 0 0) exclude, linear-gradient(black 0 0) content-box;
      inset: 0;
      z-index: -1;
    }

    &::after {
      border: 1px solid transparent;
      background: rgba(black, .1);
      z-index: -1;
    }
  }
}
