/* ===== HERO ===== */
.hero {
  height: 100vh;
  min-height: 400px;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available !important;
  }

  body.inited:not(.mobile) & {
    height: var(--page-height);
  }

  &__content {
    max-width: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    @include media-breakpoint-up(lg) {
      max-width: none;
      top: -35px;
      @include font-smooth;
    }

    > *:last-child {margin-bottom: 0;}
  }

  &__logo {
    padding: 0;
    margin: 0 0 22px;
    display: block;
    position: relative;
    @include media-breakpoint-up(lg) {
      margin-bottom: 26px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 19px;
    }

    video {
      width: 99px;
      height: 62px;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 1;
      cursor: default;
      @include user-select;
      @include user-drag;
      @include media-breakpoint-up(lg) {
        width: 128px;
        height: 80px;
      }
    }

    img {
      width: auto;
      height: 94px;
      margin: 0 auto;
      display: block;
      cursor: default;
      @include user-select;
      @include user-drag;
      @include media-breakpoint-up(lg) {
        height: 122px;
      }
    }

    &::after {
      @include pseudo;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
    }
  }

  &__title {
    margin: 0 0 8px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0;
    background: linear-gradient(180deg, white 0%, rgba(white, .3) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    @include font-smooth;
    @include media-breakpoint-up(lg) {
      font-size: 64px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      font-size: 82px;
      line-height: 101px;
      background-image: linear-gradient(180deg, white 20%, rgba(white, .3) 75%);
    }
  }

  &__subheading {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 125%;
    font-weight: 300;
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      letter-spacing: .03em;
    }
    @include media-breakpoint-up(xl) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__button {
    min-width: 206px;
    padding: 16px 40px;
    border: 1px solid transparent;
    border-radius: 32px;
    margin: 32px auto 0;
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    text-shadow: 0 0 2px rgba(white, 0);
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    background: linear-gradient(black, black) padding-box, conic-gradient(from 180deg at 50% 50%, #6faad7 0deg, #6faad7 30deg, #6a20da 55deg, #1b8dd4 100deg, #2634ef 155deg, #2634ef 210deg, #f60494 265deg, #ba0fa1 285deg, #6faad7 330deg, #6faad7 360deg) border-box;
    backdrop-filter: blur(10px);
    opacity: .95;
    transform: translateZ(0);
    transition: box-shadow $effect, text-shadow $effect, opacity $effect;
    outline: none;
    @include user-select;
    @include user-drag;
    @include font-smooth;
    @include media-breakpoint-up(lg) {
      margin-top: 40px;
    }

    &::after {
      height: 12px;
      border-radius: 32px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      background: conic-gradient(from 180deg at 50% 50%, #6faad7 0deg, #2baeff 90deg, #2634ef 160deg, #2634ef 195deg, #f60494 265deg, #ba0fa1 285deg, #6faad7 360deg);
      filter: blur(8px);
      opacity: .5;
      transform: translateZ(0);
      transition: bottom .4s;
    }

    &:hover, &:focus {
      text-shadow: 0 0 4px rgba(white, .5);
      box-shadow: 0px -3px 13px rgba(#2259e4, .55), 0px 3px 15px rgba(#9f1885, .65), inset 0px -3px 36px rgba(white, .15);
      opacity: 1;
      &::after {opacity: .55;bottom: -10px;}
    }
  }
}