// ===== VARIABLES =====
$min-width: 320px;
$max-width: 1920px;

// Media Breakpoints
$grid-breakpoints: (
  xs: 0,
  min: 321px, // Min width
  xss: 375px, // iPhone SE
  xsm: 390px, // iPhone 14
  xsl: 420px, // iPhone Plus/Max
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1340px,
  xxl: 1600px,
  xxxl: 1900px
) !default;

// Paths
$img: '/assets/img';
$fonts: '/assets/fonts';

// Fonts
$font-default: 'Clash Display', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Colors
$color-black: #080522;
$color-mute: #2c2d3a;
$color-black-marlin: #393741;
$color-dark-gray: #75728a;
$color-gray: #959fb1;
$color-sky: #5ddcff;
$color-blueish: #ecf0f2;

// Transition Settings
$bezier: cubic-bezier(.250, .460, .450, .940);
$easing: ease;
$effect: .3s $easing;
$effect-s: .2s $easing;

// Mixins
@mixin pseudo {content: '';display: block;overflow: hidden;}
@mixin clearfix {content: '';display: table;clear: both;}
@mixin font-smooth {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
@mixin user-select {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
@mixin user-drag {-webkit-user-drag: none;user-drag: none;}
