/* ===== HEADER ===== */

.header {
  min-width: $min-width;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  @include media-breakpoint-up(lg) {
    position: absolute;
  }

  &__brand {
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    @include media-breakpoint-up(lg) {
      left: 77px;
      transform: none;
    }

    span {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      text-indent: -1000px;
      @include user-select;
    }


    img {
      height: auto;
      display: none;
      position: relative;
      @include user-select;
      @include user-drag;

      &.d {
        width: 119px;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      &.m {
        width: 91px;
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }

  &__menu {
    @include media-breakpoint-up(lg) {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-space {
      min-width: 96px;
      padding: 1px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 100;
      @include media-breakpoint-up(lg) {
        padding-right: 100px;
        position: relative;
        top: auto;
        left: auto;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 105px;
      }

      &::before, &::after {
        @include pseudo;
        border-radius: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include media-breakpoint-up(lg) {
          border-radius: 24px 24px 0 0;
        }
      }

      &::before {
        background: linear-gradient(to bottom, rgba(#fff, .2), rgba(#fff, .05));
        padding: 1px;
        mask: linear-gradient(#000 0 0) exclude,
        linear-gradient(#000 0 0) content-box;
        inset: 0;
        z-index: -2;
        @include media-breakpoint-up(lg) {
          background: linear-gradient(to bottom, rgba(#fff, .2), rgba(#fff, .08));
        }
      }

      &::after {
        border: 1px solid transparent;
        background: radial-gradient(ellipse at center, rgba(#fff, .2) 0%,rgba(#fff, .6) 100%);
        opacity: .1;
        z-index: -1;
      }
    }

    &-toggle {
      padding: 8px;
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      @include media-breakpoint-up(lg) {
        display: none;
      }

      &::before {
        @include pseudo;
        content: 'Menu';
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: .04em;
      }
    }

    &-nav {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: .04em;
      text-align: center;
      @include media-breakpoint-up(lg) {
        display: flex;
      }
      @include media-breakpoint-down(lg) {
        display: none;
        visibility: hidden;
      }

      li {
        position: relative;
        @include media-breakpoint-down(lg) {
          background: rgba(white, .05);
          border-bottom: 1px solid rgba(black, .5);
          &:last-child {
            border-bottom: none;
            border-radius: 0 0 20px 20px;
          }
        }

        @include media-breakpoint-up(lg) {
          &:not(:last-child)::after {
            @include pseudo;
            width: 3px;
            height: 3px;
            background: rgba(white, .15);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
          }
        }


        a {
          padding: 8px;
          display: block;
          text-decoration: none;
          color: white;
          @include media-breakpoint-up(lg) {
            padding: 9px 21px;
          }
          @include media-breakpoint-up(xl) {
            padding: 9px 27px;
          }
        }
      }
    }

    &.active {
      @include media-breakpoint-down(lg) {
        .header__menu-toggle::before {content: 'Close';}
        .header__menu-nav {display: block; visibility: visible;}
      }
    }
  }

  &__join {
    padding: 9px 21px;
    border: 1px solid transparent;
    border-radius: 24px 24px 0 24px;
    font-size: 14px;
    letter-spacing: .04em;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: linear-gradient(black, black) padding-box, conic-gradient(from 180deg at 50% 50%, #6faad7 0deg, #6faad7 30deg, #6a20da 55deg, #1b8dd4 100deg, #2634ef 155deg, #2634ef 210deg, #f60494 265deg, #ba0fa1 285deg, #6faad7 330deg, #6faad7 360deg) border-box;
    @include user-select;
    opacity: .95;
    transition: box-shadow $effect, text-shadow $effect, opacity $effect;
    @include media-breakpoint-up(lg) {
      padding: 0 21px;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 51px;
      height: 16px;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate3d(-50%, -50%, 0);
      background: conic-gradient(from 180deg at 50% 50%, #6faad7 0deg, #6a20da 43.2deg, #2baeff 100deg, #2634ef 168deg, #5f16c1 234deg, #a01784 300deg, #12c6ff 360deg), linear-gradient(0deg, #000, #000), #d9d9d9;
      transition: opacity .3s;
      filter: blur(6px);
      opacity: .4;
    }

    &:hover, &:focus {
      text-shadow: 0 0 3px rgba(white, .5);
      box-shadow: 0px -2px 8px rgba(#2259e4, .55), 0px 2px 12px rgba(#9f1885, .65), inset 0px -2px 24px rgba(white, .15);
      opacity: 1;

      &::after {opacity: .55;}
    }
  }
}
