/* ===== MAIN ===== */

.main {
  min-height: 100%;
  position: relative;
  background: url('#{$img}/stars.svg') repeat top center;
  background-attachment: fixed;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}