/* ===== MAIN ===== */
.main {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url('#{$img}/stars.svg') repeat 50% 0;
    background-attachment: fixed;
    background-position-y: var(--parallax-offset);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}